<%= stylesheet_link_tag "index.scss.css" %>
<h1> Tiny URLs for you...</h1>

<div class="col-md-2">

<% @urls.each do |url| %>
<p>
<%= link_to url.random_id, url_path(:id => url.random_id) %> => <%= url.originalurl %>
</p>
<% end %>
</div>
