body {
background-image: url("shorty_bootstrap.jpg");
background-size: auto;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
height: 100%;
}

.jumbotron {
  text-align: center;
}

.vertical-center {
min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
margin-top: 25%;
align-items: center;
background-color: rgb(61, 90, 99, 0.7);
color: white;
}

.link_label {
  color: white;
  font-size: 14px;
}

.linkform {
background-color: transparent;
width: 30em;
border-width: thin;
border-style: solid;
border-color: white;
}

.button {
  background-color: #4286f4;
  border-width: thin;
  color: white;
  font-size: 20px;
  border-style: none;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 20px;
  align-items: center;
}
